{% extends "main_ar.html" %}
{% load static %}
{% load Filters %}

{% block content %}
<style>
            tr {
        text-align: center;
    }
</style>

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>{{User.username.title}} bienvenue sur votre profile </h1>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}
        <div class="row">
            <div class="col-md-3">

                <!-- Profile Image -->
                <div class="card card-primary card-outline">
                    <div class="card-body box-profile">
                        <div class="text-center">
                            {% if User.gender == 'homme' %}
                            <a href="/profile" class="d-block"><img src='{% static "img/defaultuserlogo.png" %}' class="profile-user-img img-fluid img-circle" alt="User Image"></a>
                            {% elif User.gender == 'femme' %}
                            <a href="/profile" class="d-block"><img src='{% static "img/defaultfemmelogo.png" %}' class="profile-user-img img-fluid img-circle" alt="User Image"></a>
                            {% endif %}
                        </div>

                        <h3 class="profile-username text-center">{{User.username.title}}</h3>


                        <ul class="list-group list-group-unbordered mb-3">
                            <li class="list-group-item">
                                <b></b>Tu es un utilisateur :<a class="float-right"> {{User.userpermission}}</a>
                            </li>
                        </ul>
                        <form action="" id='FromToDeleteFacture' method="POST">
                            {% csrf_token %}
                            <div class="modal fade" id="DeleteFactureModal" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        {% if User.userpermission == 'Admin' %}
                                            <div class="modal-header">
                                                <h4 class="modal-title">S'il vous plait entrez votre mot de passe : </h4>
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            </div>
                                            <div class="modal-body">
                                                <label for="modalpass" class="col-form-label">Mot de passe :</label>
                                                <input type="password" name="password" class="form-control" id="modalpass" required>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-default btn-danger" ><i class="fas fa-trash"></i> Supprimer</button>
                                                <button type="button" class="btn btn-default btn-success" data-dismiss="modal">Close</button>
                                            </div>
                                        {% else %}
                                            <div class="modal-header">
                                                <h4 class="modal-title">Action non autorisée</h4>
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            </div>
                                            <div class="modal-body">
                                                <p>vous n'êtes pas autorisé à supprimer cette facture, seul le compte administrateur peut effectuer cette action</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default btn-success" data-dismiss="modal">Close</button>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </form>


                        <form action="/deletemyacount/" method="POST">
                            {% csrf_token %}
                            <center>
                                <button type="button" onclick="LoginPopup();" class="btn btn-primary btn-block"><b>Supprimé mon compte</b></a></button>
                            </center>
                            <div class="modal fade" id="DeleteMyAccountModal" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">S'il vous plait entrez votre mot de passe : </h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                            <label for="modalpass" class="col-form-label">Mot de passe :</label>
                                            <input type="password" name="password" class="form-control" id="modalpass" required>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn btn-default btn-danger"><i class="fas fa-trash"></i> Supprimer</button>
                                            <button type="button" class="btn btn-default btn-success" data-dismiss="modal">Close</button>                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header p-2">
                        <ul class="nav nav-pills">
                            <li class="nav-item"><a class="nav-link active" href="#allcreatedfacturebyme"data-toggle="tab">Mes Factures Crées</a></li>
                            <li class="nav-item"><a class="nav-link" href="#changpwd" data-toggle="tab">Changez votre mot de passe</a>
                            </li>
                        </ul>
                    </div><!-- /.card-header -->
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="active tab-pane" id="allcreatedfacturebyme">
                                <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table id="example2" class="table table-bordered table-hover dataTable dtr-inline" role="grid"
                                                aria-describedby="example2_info">
                                                <thead>
                                                    <tr>
                                                        <th>N°</th>
                                                        <th>Nom du client</th>
                                                        <th>La Date</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {{tablebody | CreateTableBody}}
                                                </tbody>
                                                <tfoot>
                                                        <th>N°</th>
                                                        <th>Nom du client</th>
                                                        <th>La Date</th>
                                                        <th>Action</th>
                                                        </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.tab-pane -->
                            <div class="tab-pane" id="changpwd">
                                <form action="/profile/changepwd/" method="POST">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="oldpwd">Ancien mot de passe</label>
                                        <input type="password" class="form-control" onfocus="this.removeAttribute('readonly');" readonly id="oldpwd" name="oldpwd"  required>
                                    </div>
                                    <div class="form-group">
                                        <label for="newpwd">Nouveau mot de passe :</label>
                                        <input type="password" class="form-control" onfocus="this.removeAttribute('readonly');" readonly id="pwd01" name="newpwd" onkeyup='check();' required>

                                    </div>
                                    <div class="form-group">
                                        <label for="retypednewpwd">Re-taper le nouveau mot de passe:</label>
                                        <input type="password" class="form-control" onfocus="this.removeAttribute('readonly');" readonly id='pwd02' name="retypednewpwd"  onkeyup='check();' required>
                                    </div>
                                    <div class="alert alert-success alert-dismissible" role="alert" id='message'>
                                        <br />
                                    </div>
                                    <div class="card-footer bg-white" style="margin: auto;">
                                        <center>
                                            <button type="submit" id='submitbttn' class="btn btn-primary" disabled>Changez le mot de passe</button>
                                        </center>
                                    </div>
                                </form>
                            </div>
                            <!-- /.tab-pane -->
                        </div>
                        <!-- /.tab-content -->
                    </div><!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</section>
<style>
    .modal-title {
        margin-bottom: 0;
        line-height: 1.5;
        font-size: 20px;
    }
</style>




<script>
    var check = function () {
        if (document.getElementById('pwd01').value == document.getElementById('pwd02').value && document.getElementById('pwd01').value !== "" && document.getElementById('pwd02').value !== "") {
            document.getElementById('message').style.color = 'green';
            document.getElementById('message').innerHTML = 'matching';
            document.getElementById('submitbttn').disabled = false;

        } else {
            document.getElementById('message').style.color = 'red';
            document.getElementById('message').innerHTML = 'not matching';
            document.getElementById('submitbttn').disabled = true;
        }
    }
    function LoginPopup() {
        $(document).ready(function () {
            $("#DeleteMyAccountModal").modal({ backdrop: true });
        });
    }
    function DeleteFunctionPopUp(action) {
        document.getElementById('FromToDeleteFacture').action = action
        $(document).ready(function () {
            $("#DeleteFactureModal").modal({ backdrop: true });
        });
    }
</script>



{% endblock content %}