{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nouveau Compte | NTFM</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href='{% static "plugins/fontawesome-free/css/all.min.css" %}'>
    <link rel="stylesheet" href='{% static "plugins/icheck-bootstrap/icheck-bootstrap.min.css" %}'>
    <link rel="stylesheet" href='{% static "css/adminlte.css" %}'>
</head>

<body class="hold-transition register-page">
    <div class="register-box">
        <div class="register-logo">
            <b>NoTech </b><br>Gestionere Des Factures
        </div>

        <div class="card">
            <div class="card-body register-card-body">
                <p class="login-box-msg">Créer un nouveau compte</p>
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
                {% endif %}
                <form action="/register/" method="post">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="username" autocomplete="off" placeholder="Nom d'utilisateur" required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" id='pwd01' onkeyup="check();" name="fpwd" autocomplete="off"  placeholder="mot de passe" required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" id='pwd02' name="spwd" onkeyup="check();" autocomplete="off"  placeholder="Retaper le mot de passe" required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="alert alert-primary" id="message" role="alert">
                            veuillez vous assurer que tous les mots de passe correspondant
                    </div>
                    <div class="form-group">
                        <label>le genre</label>
                        <select class="form-control" name="gender">
                            <option>homme</option>
                            <option>femme</option>
                        </select>
                    </div>
                    <div class="row">
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit"  id='submitbttn' class="btn btn-primary btn-block" disabled>S'inscrire</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>
                <br>
                <a href="/login/" class="text-center">Je ai déjà un compte</a>
            </div>
            <!-- /.form-box -->
        </div><!-- /.card -->
    </div>
    <style>
        .alert-primary {
            color: #fff;
            background-color: #89bff9;
            border-color: #006fe6;
            padding: 6px;
        }
        .alert-danger {
            color: #fff;
            background-color: #dc3545;
            border-color: #d32535;
            padding: 10px;
        }

        .btn-primary {
            color: #fff;
            background-color: #007bff;
            border-color: #007bff;
            box-shadow: none;
            padding: 6px;
            width: 114px;
        }

        .col-4 {
            -ms-flex: 0 0 33.333333%;
            flex: 0 0 33.333333%;
            max-width: 33.333333%;
            margin: auto;
        }
    </style>
    <script src='{% static "plugins/jquery/jquery.min.js" %}'></script>
    <script src='{% static "js/adminlte.js" %}'></script>
    <script src='{% static "plugins/bootstrap/js/bootstrap.bundle.min.js" %}'></script>
    <script>
        var check = function () {
            if (document.getElementById('pwd01').value == document.getElementById('pwd02').value && document.getElementById('pwd01').value !== "" && document.getElementById('pwd02').value !== "") {
                document.getElementById('message').style.color = 'green';
                document.getElementById('message').innerHTML = 'matching';
                document.getElementById('submitbttn').disabled = false;

            } else {
                document.getElementById('message').style.color = 'red';
                document.getElementById('message').innerHTML = 'not matching';
                document.getElementById('submitbttn').disabled = true;
            }
        }
    </script>
</body>

</html>