    .img-circle {
        border-radius: 23%  !important;
    }
  #circle {
      position: absolute  !important;
      top: 50%  !important;
      left: 50%  !important;
      z-index: 20  !important;
      transform: translate(-50%,-50%)  !important;
    width: 150px  !important;
      height: 150px  !important;  
  }

  .loader {
    width: calc(100% - 0px)  !important;
    height: calc(100% - 0px)  !important;
    border: 8px solid #162534  !important;
    border-top: 8px solid #17a2b8  !important;
    border-radius: 50%;
    animation: rotate 5s linear infinite  !important;
  }

  @keyframes rotate {
  100% {transform: rotate(360deg);}
  } 
  @media (min-width: 1000px){
  body:not(.sidebar-mini-md) .content-wrapper, body:not(.sidebar-mini-md) .main-footer, body:not(.sidebar-mini-md) .main-header {
      transition: margin-left 0.3s ease-in-out  !important;
      margin-left: 253px  !important;
  }}
  i.fas.fa-angle-double-right {
    font-size: 25px  !important;
  }
  /* footer.main-footer {
      margin-top: -18px;
  } */
  a.detail {
    color: #3b38ec  !important;
  }

  a.edit {
    color: #0c8ce0  !important;
  }

  a.delete {
    color: #971d02  !important;
  }

  body {
    color: #404E67  !important;
    overflow-x: hidden  !important;
    scroll-behavior: smooth  !important;
  }

  ::-webkit-scrollbar {
    width: 10px  !important;
    height: 10px  !important;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #4aa6b4  !important; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #343a40  !important;
    border-radius: 7px  !important;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #8e969e  !important;
    border-radius: 7px  !important;
  }
  .sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active,
  .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active {
    background-color: #17a2b8 !important;
    width: 100%   !important;

  }
  .card-body.p-0 {
      overflow-x: hidden !important;
  }
  .btn-primary {
    background-color:#17a2b8 !important;
    border-radius: 5px !important;
    width: auto !important;
  }

      option {
        height: calc(1.5em + .75rem + 2px) !important;
        line-height: 30px !important;
    }

    .editOption {
        width: 94% !important;
        position: relative !important;
        top: -38px !important;
        border-bottom-right-radius: unset !important;
        border-top-right-radius: unset !important;
    }

    .editOption:focus {
        box-shadow: none !important;
    }

    td {
        max-width: 70px !important;
        overflow-x: scroll !important;
        border: 1px solid #b5c0d2 !important;

    }

    tr {
        overflow: scroll !important;
        border-bottom: solid 1px #b5c0d2 !important;
    }
    button.btn.btn-info.add-new {
        padding: 5px !important;
        float: right !important;
    }




    ul#sub-tree {
      padding-left: 10px !important;
    }
  .nav-sidebar > .nav-item .nav-icon {
      margin-left: .05rem !important;
      font-size: 1.2rem !important;
      margin-right: .2rem !important;
      text-align: center !important;
      width: 1.0rem !important;
  }
  .fa-B:before {
    font-family: Arial; /* your font family here! */
    font-weight: bold;
    content: 'B';
  }  
  .fa-D:before {
    font-family: Arial; /* your font family here! */
    font-weight: bold;
    content: 'D';
  }  
  .fa-F:before {
    font-family: Arial; /* your font family here! */
    font-weight: bold;
    content: 'F';
  }
