{% extends "main.html" %}
{% load Filters %}

{% block content %}


<section class="content-header">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}
    <div class="card">
        <div class="card-header ui-sortable-handle" style="cursor: move;">
            <b>gérer les paramètres généraux de l'application : (Tous les champs sont obligatoires)</b>
        </div>
        <div class="card-body">
            <form id="Form" action="/settings/global-settings" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>ICE de votre société</label>
                            <input type="text" class="form-control" autocomplete="off" name="ICE" value="{{setting.Company_ICE}}" placeholder="ICE ..." required>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Taux de TVA de votre société (n'ajoutez pas "%")</label>
                            <input type="number" id="TVATAUX" class="form-control" autocomplete="off" value="{{setting.Company_TVATAUX}}" name="TVATAUX" placeholder="TVA ..." required>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Le Lieu de Votre Société</label>
                            <input type="text" class="form-control" autocomplete="off" value="{{setting.Company_Place}}" name="place" placeholder="Lieu ..." required>
                        </div>
                    </div>
                </div>
                <div class="ButtnEnregister">
                    <center><button id="savebttn" type="submit" class="btn btn-block btn-primary"
                            style="background-color:#17a2b8;width: 50%;"><i class="fas fa-check"></i>
                            <b>ENREGISTRER</b></button></center>
                </div>
            </form>
        </div>


    </div>
</section>

{% endblock content %}