{% extends "main_fr.html" %}
{% load Filters %}
{% block content %}
<!--suppress ALL -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>{{User.username.upper}} bienvenue sur la page pour Créer un Devis </h1>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <div class="col-md-6">
        <div class="card card-default">
            <!-- <div class="card"> -->
            <div class="card-header" style="text-align: center;background: #0d899a;color: white;">
                <span class="text-left" style="float: left;"> <b>N</b>: <span id="N_ELEMENT">0</span>
                </span>
                <span class="text-right" style="float: right;"> <b>TOTAL HT</b>: <span id="HT">0</span> </span>
            </div>
            <!-- /.card-header -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card card-default">
                <!-- <div class="card"> -->
                <div class="card-header">
                    <h3 class="card-title">Tableau des éléments de <b>Devis</b></h3>
                    <button type="button" class="btn btn-info add-new" onclick="AddNewFactureItemModalHandler();"><i
                            class="fa fa-plus"></i> Ajouter</button>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0" style="height: 552px;">
                    <table id='Table' class="table table-head-fixed text-nowrap">
                        <thead>
                            <tr>
                                <th id='smallth'>Qs</th>
                                <th>DESIGNATION</th>
                                <th id='smallth'>P.U</th>
                                <th id='smallth'>P.T</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card card-default">
                <div class="card-header">
                    <h3 class="card-title">Saisir les informations de <b>Devis</b></h3>
                </div>
                <div class="card-body">
                    <form id='Form' action="/create-new-devis/" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="datatable" id="tableinput" value="" required>
                        <div class="form-group">
                            <label>Numéro de Devis </label>
                            <input type="number" min="0" class="form-control" name='Devis_number'
                                value='{{new_Devis_number}}' id="facture_number" placeholder="N°:" required readonly>
                        </div>
                        <div class="form-group">
                            <label>Nom De Client</label>
                            <div style="display: flex;">
                                <select id="ClientID" name="client_name" class="form-control" style="margin-right: 10px;">
                                    <option value="-" selected disabled>Sélectionner Un Client</option>
                                    {{ selectbody | CreateHTMLSelectOptionsWith_ID }}
                                </select>
                                <button type="button" class="btn btn-success add-new" onclick='AddNewClient()'><i class="fa fa-plus" style="width: 25px;"></i>
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>La Date</label>
                                    <input type="date" class="form-control" id="Date" autocomplete="off" name="date"
                                        value="{{todaydate}}" placeholder="..." required>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                </div>
                            </div>
                        <div class="ButtnEnregister" style="margin: auto;">
                            <center>
                                <button id="savebttn" type="button" onclick="ValidInputNotEmpty('clientside');"
                                    class="btn btn-block btn-primary"
                                    style="background-color:#17a2b8 !important;border-radius: 5px !important;width: auto !important;"><i
                                        class="fas fa-check"></i>
                                    <b>ENREGISTRER</b></button>
                            </center>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
</section>
<div class="modal fade" id="AddNewFactureItemModal" role="dialog">
    <div class="modal-dialog card card-default">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Entrez toutes les informations ici :) </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Qs</label>
                    <input type="number" min="0" class="form-control" id='Qs' name="Qs" autocomplete="off"
                        onkeyup="CalculatePT();" placeholder="Qs" required>
                </div>
                <div class="form-group" style="height: 65px">
                    <label>DESIGNATION</label>
                    <select id="ProductName" class="form-control" onchange="GetSelectedProductThenSet();">
                        <option value="-" disabled selected>Choisir Un Produit</option>
                        {{selectproductbody | CreateHTMLSelectOptions}}
                    </select>
                    <input type='text' placeholder="choisissez le nom du produit ou entrez-en un nouveau"
                        class="form-control editOption" onchange="GetInputAndSet2Select('ProductName',0);">
                    </input>
                    <script>
                        function CalculatePT() {
                            document.getElementById('PT').value = document.getElementById('Qs').value * document.getElementById("PU").value
                        }
                    </script>
                </div>
                <div class="form-group">
                    <label>PU</label>
                    <input type="number" class="form-control" id='PU' name="PU" onkeyup="CalculatePT();"
                        autocomplete="off" placeholder="PU" required>
                    <div id="circle_addnew"
                        style="display: none;width: 33px !important;height: 33px !important;float: right;margin-top: -36px;margin-right: 2px;">
                        <div class="loader" style="animation: rotate 1.5s linear infinite !important">
                            <div class="loader" style="animation: rotate 1.5s linear infinite !important">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>PT</label>
                    <input type="number" class="form-control" id='PT' name="PT" autocomplete="off" placeholder="PT"
                        required readonly>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-info" onclick="ValidInputNotEmpty('addnew');"><i
                        class="fas fa-plus"></i> Ajouter</button>
                <button type="button" class="btn btn-default btn-success" id="closeeditmodal"
                    data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="EditFactureItemModal" role="dialog">
    <div class="modal-dialog  card card-default">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Entrez toutes les informations ici : </h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <input type="hidden" id='SelectedRowNumber' value="">
                <div class="form-group">
                    <label>Qs</label>
                    <input type="number" min="0" class="form-control" id='Edit_Qs' name="Qs" autocomplete="off"
                        onkeyup="CalculatePTedit();" placeholder="Qs" required>
                </div>
                <div class="form-group" style="height: 65px">
                    <label>DESIGNATION</label>
                    <select id="Edit_ProductName" class="form-control" onchange="GetSelectedProductThenSetEdit();">
                        <option value="-" disabled selected>Choisir Un Produit</option>
                        {{selectproductbody | CreateHTMLSelectOptions}}
                    </select>
                    <input type='text' placeholder="choisissez le nom du produit ou entrez-en un nouveau"
                        class="form-control editOption" onchange="GetInputAndSet2Select('Edit_ProductName',1);">
                    </input>
                    <script>
                        function CalculatePTedit() {
                            document.getElementById('Edit_PT').value = document.getElementById('Edit_Qs').value * document.getElementById("Edit_PU").value
                        }
                    </script>
                </div>
                <div class="form-group">
                    <label>PU</label>
                    <input type="number" class="form-control" id='Edit_PU' name="PU" onkeyup="CalculatePTedit();"
                        autocomplete="off" placeholder="PU" required>
                    <div id="circle_edit"
                        style="display: none;width: 33px !important;height: 33px !important;float: right;margin-top: -36px;margin-right: 2px;">
                        <div class="loader" style="animation: rotate 1.5s linear infinite !important">
                            <div class="loader" style="animation: rotate 1.5s linear infinite !important">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>PT</label>
                    <input type="number" class="form-control" id='Edit_PT' name="PT" autocomplete="off" placeholder="PT"
                        required readonly>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-info" onclick="ValidInputNotEmpty('edit');"><i
                        class="fas fa-plus"></i>Edit</button>
                <button type="button" class="btn btn-default btn-success" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
<form action='/settings/manage-clients' method='POST' id='AddNewClientForm'>
    {% csrf_token %}
    <div class="modal fade" id="AddClientModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><h4 class="modal-title">Entrez toutes les informations ici : </h4></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id='ClientName' name="ClientName" autocomplete="off" placeholder="Nom de Client" required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-handshake"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id='ICE' name="ICE" autocomplete="off" placeholder="ICE De Client" required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-fingerprint"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id='City' name="City" autocomplete="off" placeholder="Ville du client" required>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-city"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default btn-info">
                    <i id='IconPlus' class="fas fa-plus"></i> 
                    <span id='IconSpin' class="spinner-border spinner-border-sm" style='display:none'></span>
                        Ajouter
                    </button>
                    <button type="button" class="btn btn-default btn-success" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</from>
<script>
    function TableInfoHandler() {
        // calcule N items , HT , TTC 

        // N items
        var theTABLE = document.getElementById('Table')
        document.getElementById('N_ELEMENT').innerText = theTABLE.rows.length - 1

        // HT
        HT = 0
        $('td:eq(3)', $('#Table tr')).each(function () {
            HT = parseFloat(HT) + parseFloat($(this).html())
        });
        document.getElementById('HT').innerText = HT

    }
</script>
{% endblock content %}