{% extends "main_ar.html" %}
{% load Filters %}

{% block content %}


<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>{{User.username.title}} bienvenue sur la page de gestion des Utilisateurs </h1>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <div class="card card-default">
        <div class="card-header">
            <h3 class="card-title">Changer le mot de passe de l'Utilisateur {{edituser.username}} </h3>
        </div>
        <form action="/settings/manage-users/edit/changepwd/{{edituser.id}}" method="POST">
            <div class="card-body">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <input type="password" class="form-control" value="" id='pwd01' onkeyup="check();" name="fpwd"
                        autocomplete="off" placeholder="mot de passe" required>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="password" class="form-control" id='pwd02' name="spwd" onkeyup="check();"
                        autocomplete="off" placeholder="Retaper le mot de passe" required>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="alert alert-primary" id="message" role="alert">
                    veuillez vous assurer que tous les mots de passe correspondant
                </div>
                <div class="row">
                    <div class="col-4">
                        <button type="submit" id='submitbttn'  class="btn btn-primary btn-block" disabled>Enregistrer</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

<style>
    .alert-primary {
        color: #fff;
        background-color: #89bff9;
        border-color: #006fe6;
        padding: 6px;
    }

    .alert-danger {
        color: #fff;
        background-color: #dc3545;
        border-color: #d32535;
        padding: 10px;
    }

    .btn-primary {
        color: #fff;
        background-color: #17a2b8;
        border-color: #007bff;
        box-shadow: none;
        padding: 6px;
        width: 50%;
    }

    .col-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
        margin: auto;
    }
</style>
<script>
    var check = function () {
        if (document.getElementById('pwd01').value == document.getElementById('pwd02').value && document.getElementById('pwd01').value !== "" && document.getElementById('pwd02').value !== "") {
            document.getElementById('message').style.color = 'green';
            document.getElementById('message').innerHTML = 'matching';
            document.getElementById('submitbttn').disabled = false;

        } else {
            document.getElementById('message').style.color = 'red';
            document.getElementById('message').innerHTML = 'not matching';
            document.getElementById('submitbttn').disabled = true;
        }
    }


</script>
{% endblock content %}