{% extends "main.html" %}
{% load Filters %}

{% block content %}


<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>{{User.username.title}} bienvenue sur la page de gestion des Utilisateurs </h1>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <div class="card card-default">
        <div class="card-header">
            <h3 class="card-title">Edité l'Utilisateur {{edituser.username}} </h3>
        </div>
        <form action="/settings/manage-users/edit/{{edituser.id}}" method="POST">
            <div class="card-body">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <input type="text" class="form-control" value="{{edituser.username}}" name="username" autocomplete="off"
                        placeholder="Nom d'utilisateur" required readonly>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Genre :</label>
                    <select class="form-control" name="gender" id='gender'>
                        <option>homme</option>
                        <option>femme</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Type de compte :</label>
                    <select class="form-control" name="Type" id='Type'>
                        <option>Normal</option>
                        <option>Admin</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Statut :</label>
                    <select class="form-control" name="Status" id='Status'>
                        <option>Suspendu</option>
                        <option>Active</option>
                    </select>
                </div>
                <div class="row">
                    <!-- /.col -->
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary btn-block" >Enregistrer</button>
                    </div>
                    <div class="col-4">
                        <a href="/settings/manage-users/edit/changepwd/{{edituser.id}}" class="btn btn-primary btn-block">Changer le mot de passe</a>
                    </div>
                    <!-- /.col -->
                </div>
            </div>
        </form>
    </div>
</section>

<style>
    .alert-primary {
        color: #fff;
        background-color: #89bff9;
        border-color: #006fe6;
        padding: 6px;
    }

    .alert-danger {
        color: #fff;
        background-color: #dc3545;
        border-color: #d32535;
        padding: 10px;
    }

    .btn-primary {
        color: #fff;
        background-color: #17a2b8;
        border-color: #007bff;
        box-shadow: none;
        padding: 6px;
        width: 50%;
    }

    .col-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
        margin: auto;
    }
</style>


<script>
    document.getElementById('gender').value = '{{edituser.gender}}';
    document.getElementById('Type').value = '{{edituser.userpermission}}';
    document.getElementById('Status').value = '{{edituser.account_status}}';
</script>
{% endblock content %}