{% extends "main_ar.html" %}
{% load Filters %}

{% block content %}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>إدارة إعدادات التطبيق الخاص بك</h1>
            </div>
        </div>
    </div>
</section>

<section class="content-header">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    {% endif %}
<form id="Form" action="/settings/global-settings" method="POST">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header ui-sortable-handle" style="cursor: move;">
                    <b>يجب عليك اعداد جميع الإعدادات أدناه لاستخدام التطبيق الخاص بك دون أي مشكلة: (جميع الحقول مطلوبة)</b>
                </div>
                <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>ICE لشركتك</label>
                                    <input type="text" class="form-control" autocomplete="off" name="ICE"
                                        value="{{setting.Company_ICE}}" placeholder="ICE ..." required>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>معدل ضريبة القيمة المضافة لشركتك :</label>
                                    <select name="TVATAUX" id="TVATAUX" class="form-control" required>
                                        <option value="20">20%</option>
                                        <option value="10">10%</option>
                                        <option value="5.5">5.5%</option>
                                        <option value="2.1">2.1%</option>
                                        <option value="19.6">19.6%</option>
                                        <option value="7">7%</option>
                                    </select>
                                    <script>
                                        document.getElementById('TVATAUX').value = {{ setting.Company_TVATAUX }}
                                    </script>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>مدينة شركتك</label>
                                    <input type="text" class="form-control" autocomplete="off" value="{{setting.Company_Place}}"
                                        name="place" placeholder="Lieu ..." required>
                                </div>
                            </div>
                        </div>
                </div>


            </div>
        </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header ui-sortable-handle" style="cursor: move;">
                        <b>اعدادات اللغة</b>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label>لغة التطبيق الخاص بك :</label>
                            <select name="LANG" id="LANG" class="form-control" required>
                                <option value="fr">fr</option>
                                <option value="ar">ar</option>
                                <option value="en">en</option>
                            </select>
                            <script>
                                document.getElementById('LANG').value = "{{ setting.APP_lang }}"
                            </script>
                        </div>
                        <div class="ButtnEnregister">
                            <center><button id="savebttn" type="submit" class="btn btn-block btn-primary"
                                    style="background-color:#17a2b8;width: 50%;"><i class="fas fa-check"></i>
                                    <b>حفظ</b></button>
                            </center>
                        </div>
                    </div>
            
                </div>
            </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header ui-sortable-handle" style="cursor: move;">
                    <b>اعدادات المظهر :</b>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label>لون الفاتورة :</label>
                        <input type="color" class="form-control" name="COLOR" value="{{setting.Invoice_Color}}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

</section>

{% endblock content %}