{% extends "main.html" %}
{% block content %}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>{{User.username.title}} bienvenue sur la page de Réglage </h1>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}
        <div class="row">
            <div class="col-lg-3 col-6">
                <div class="small-box bg-setting">
                    <div class="inner">
                        <h3>-</h3>
            
                        <p>Réglage Global</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-cog"></i>
                    </div>
                    <a href="/settings/global-settings" class="small-box-footer">
                        Gérer <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>{{Lenghts.len_products}}</h3>
                        <p>Gérez vos produits</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-shopping-basket"></i>
                    </div>
                    <a href="/settings/manage-products" class="small-box-footer">
                        Gérer <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>{{Lenghts.len_clients}}</h3>
                        <p>Gérez vos Clients</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-handshake"></i>
                    </div>
                    <a href="/settings/manage-clients" class="small-box-footer">
                        Gérer <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-warning">
                    <div class="inner">
                        <h3>{{Lenghts.len_users}}</h3>

                        <p>Gérer vos utilisateurs</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-users"></i>
                    </div>
                    <a href="/settings/manage-users" class="small-box-footer">
                        Gérer <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>{{Lenghts.len_templates}}</h3>

                        <p>Choisissez un modèle de facture</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-paint-roller"></i>
                    </div>
                    <a href="#" class="small-box-footer">
                        Gérer <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
        </div>
</section>

<style>
    .bg-warning,
    .bg-warning>a {
        color: #ffffff !important;
    }
    .small-box.bg-setting {
        background-color: #11626f;
        color: white;
    }
</style>

{% endblock content %}