{% extends "main.html" %}
{% block content %}
<div class="content p-4">

    <div class="card">
        <div class="card-header bg-white font-weight-bold">
            Oooops ! Quelques informations sur l'entreprise non trouvé
        </div>
        <div class="card-body">
            <center>
                <p>
                    veuillez suivre le lien ci-dessous pour configurer les informations de votre entreprise</br>
                    <a href="/settings/global-settings"><i class="fas fa-arrow-circle-right"></i> Réglage Global</a>
                </p>
            </center>
        </div>
    </div>
</div>

{% endblock content %}