{% extends "main_ar.html" %}
{% load Filters %}
{% block content %}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>لوحة القيادة</h1>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="row">
        <div class="col-lg-3 col-6">
            <div class="small-box bg-info">
                <div class="inner">
                    <h3>{{Lenghts.len_factures}}</h3>
                    <p>جميع الفواتير</p>
                </div>
                <div class="icon">
                    <i class="fas fa-file-invoice"></i>
                </div>
                <a href="/list-all-facturs/" class="small-box-footer">
                    عرض <i class="fas fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="small-box bg-info" style="background: rgb(5,103,119); background: linear-gradient( 311deg , rgb(12 24 33) -36%, rgb(14 108 123) 91%, rgb(24 117 132) 100%); }">
                <div class="inner">
                    <h3>{{Lenghts.len_devis}}</h3>
                    <p>جميع التسعيرات</p>
                </div>
                <div class="icon">
                    <i class="fas fa-file-invoice"></i>
                </div>
                <a href="/list-all-devis/" class="small-box-footer">
                    عرض <i class="fas fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="small-box bg-warning">
                <div class="inner">
                    <h3>{{Lenghts.len_products}}</h3>
                    <p>إدارة منتجاتك</p>
                </div>
                <div class="icon">
                    <i class="fas fa-shopping-basket"></i>
                </div>
                <a href="/settings/manage-products" class="small-box-footer">
                    إدارة <i class="fas fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="small-box bg-success">
                <div class="inner">
                    <h3>{{Lenghts.len_clients}}</h3>
                    <p>إدارة عملائك</p>
                </div>
                <div class="icon">
                    <i class="fas fa-handshake"></i>
                </div>
                <a href="/settings/manage-clients" class="small-box-footer">
                    إدارة <i class="fas fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box bg-danger">
                <span class="info-box-icon"><i class="fas fa-suitcase"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Chiffre d'affaires (HT)</span>
                    <span class="info-box-number">{{HT}} DH</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box bg-danger">
                <span class="info-box-icon"><i class="fas fa-suitcase"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Chiffre d'affaires (TTC - {{TVA_taux}}%)</span>
                    <span class="info-box-number">{{TTC}} DH</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
    </div>
    <div class="card card-info">
        <div class="card-header">
            <h3 class="card-title">إحصائيات الفواتير :</h3>
        </div>
        <div class="card-body">
            <div class="chart">
                <div class="chartjs-size-monitor">
                    <div class="chartjs-size-monitor-expand">
                        <div class=""></div>
                    </div>
                    <div class="chartjs-size-monitor-shrink">
                        <div class=""></div>
                    </div>
                </div>
                <canvas id="barChart" style="height: 230px; min-height: 230px; display: block; width: 764px;"
                    width="764" height="230" class="chartjs-render-monitor"></canvas>
            </div>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- <div class="container-fluid"> -->
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                    <div class="card-header border-transparent">
                        <h3 class="card-title">جميع فواتير هذا الشهر :</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-head-fixed text-nowrap">
                            <thead>
                                <tr>
                                    <th>الرقم</th>
                                    <th>اسم الزبون</th>
                                    <th>التاريخ</th>
                                    <th>تم انشائها من طرف</th>
                                    <th>هل دُفعت</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    {{tablebody | CreateTableBody}}
                                </tr>
                            </tbody>
                        </table>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer clearfix">
                        <a href="/list-all-facturs/" class="btn btn-sm btn-secondary float-right">جميع الفواتير</a>
                    </div>
                    <!-- /.card-footer -->
            </div>
        </div>
        <div class="col-md-6">

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">جميع عملاء هذا الشهر :</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0">
                    <table class="table table-head-fixed text-nowrap">
                        <thead>
                            <tr>
                                <th>اسم الزبون</th>
                                <th>ICE</th>
                                <th>المدينة</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                {{clienttablebody | CreateTableBody}}
                            </tr>
                        </tbody>
                    </table>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.card-body -->
                <div class="card-footer text-center">
                    <a href="/settings/manage-clients" class="uppercase">رؤية جميع العملاء</a>
                </div>
                <!-- /.card-footer -->
            </div>
        </div>
    </div>
    <!-- </div> -->
</section>
<style>
    .btn-secondary {
        background-color: #4b555fde;
    }

    .card-title {
        margin-bottom: .75rem;
        width: 83%;
    }

    span.badge.badge-warning.float-right {
        font-size: 15px;
    }

    .bg-warning,
    .bg-warning>a {
        color: #ffffff !important;
    }

    .small-box.bg-setting {
        background-color: #11626f;
        color: white;
    }

    .card-body.p-0 {
        max-height: 300px;
        overflow-x: scroll;
        overflow-y: scroll;
    }

    .card {
        height: 400px;
    }
</style>
<script>
    $(function () {

        var areaChartData = {
            labels: ['يناير', 'فبراير', 'مارس', 'ابريل', 'مايو', 'يونيو', 'يوليو', 'أغسطس', 'سبتمبر', 'أكتوبر', 'نوفمبر', 'ديسمبر'],
            datasets: [
                {
                    label: 'فواتير مدفوعة',
                    backgroundColor: 'rgba(60,141,188,0.9)',
                    borderColor: 'rgba(60,141,188,0.8)',
                    pointRadius: false,
                    pointColor: '#3b8bba',
                    pointStrokeColor: 'rgba(60,141,188,1)',
                    pointHighlightFill: '#fff',
                    pointHighlightStroke: 'rgba(60,141,188,1)',
                    data: {{ all_paid_factures}}
                },
                {
                    label: 'فواتير غير مدفوعة',
                    backgroundColor: 'rgba(210, 214, 222, 1)',
                    borderColor: 'rgba(210, 214, 222, 1)',
                    pointRadius: false,
                    pointColor: 'rgba(210, 214, 222, 1)',
                    pointStrokeColor: '#c1c7d1',
                    pointHighlightFill: '#fff',
                    pointHighlightStroke: 'rgba(220,220,220,1)',
                    data: {{all_none_paid_factures}}
                },
            ]
        }

        var areaChartOptions = {
            maintainAspectRatio: false,
            responsive: true,
            legend: {
                display: false
            },
            scales: {
                xAxes: [{
                    gridLines: {
                        display: false,
                    }
                }],
                yAxes: [{
                    gridLines: {
                        display: false,
                    }
                }]
            }
        }

        var barChartCanvas = $('#barChart').get(0).getContext('2d')
        var barChartData = jQuery.extend(true, {}, areaChartData)
        var temp0 = areaChartData.datasets[0]
        var temp1 = areaChartData.datasets[1]
        barChartData.datasets[0] = temp1
        barChartData.datasets[1] = temp0

        var barChartOptions = {
            responsive: true,
            maintainAspectRatio: false,
            datasetFill: false
        }

        var barChart = new Chart(barChartCanvas, {
            type: 'bar',
            data: barChartData,
            options: barChartOptions
        })


    })
</script>
{% endblock content %}
